<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>게시글 상세</title>
    </head>
    <body>
        <h1>게시글 상세</h1>
        <h2 th:text="${post.title}">제목</h2>
        <p>작성일: <span th:text="${post.createdAt}">일자</span></p>
        <p th:text="${post.content}">내용</p>

        <a th:href="@{/posts/{id}/edit(id=${post.id})}">수정</a>

        <form action="/posts/{id}/delete" method="post" th:action="@{/posts/{id}/delete(id=${post.id})}">
            <button type="submit">삭제</button>
        </form>

        <a href="/posts">목록으로</a>
    </body>
</html>